{% extends "base.html" %}
{% load static %}
{% block title %}
{{ block.super }} - {{ single_object.article }}
{% endblock %}



{% block content %}
<h5>Author: {{ single_object.author }}</h5>
<h1>{{ single_object.article }}</h1>
{% if single_object.image %}
    <img src="{% static single_object.image.url %}" alt="{{ single_object.article }}" height="400">
{% endif %}


{% include 'news/detail_snippet.html' with single_object=single_object %}

{% if perms.user.is_staff %}
    <a href="/news/edit/{{ single_object.pk }}">Изменить</a>
    <a href="/news/delete/{{ single_object.pk }}">Удалить</a>
{% endif %}

<a href="/news/commentary/{{ single_object.pk }}">Комментировать</a>

<h5>Лайки: {{ single_object.get_likes }}</h5>
    <form action="/news/like/{{ single_object.pk }}/" method="post">
        {% csrf_token %}
        {% if not liked %}
            <input type="submit" value="Лайк">
        {% else %}
            <input type="submit" value="Дизлайк">
        {% endif %}
    </form>

<h1>Комментарии</h1>
{% for c in single_object.commentary.all %}
<p>
    {% if c.user.userinformation.profile_image %}
         <img src="{% static c.user.userinformation.profile_image.url %}" alt="{{ profile }}" width="50">
    {% endif %}
    {{ c.date.time }}
    {{ c.user }}:
    {{ c.text }}
</p>


{% endfor %}

{% endblock %}